@using iakademi41_Proje.Models
@model tbl_Settings

@{
    ViewBag.Title = "AyarlarGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet box purple ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Ayarlar Güncelleme Formu
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form" method="post" action="/Admin/AyarlarGuncelle">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Sayfadaki Ürün Sayısı</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" placeholder="Sayfadaki Ürün Sayısı Giriniz" name="sayafadakiürünsayisi" value="@Model.sayfadakiurunsayisi">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Telefon No</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" placeholder="Telefon No Giriniz" name="telefon" value="@Model.telefon">
                    </div>
                </div>
            </div>
            <div class="form-actions right1">
                <button type="submit" class="btn green">Güncelle</button>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
