@using iakademi41_Proje.Models
@model vw_kategoriler

@{
    ViewBag.Title = "KategoriGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    IEnumerable<SelectListItem> cl = ViewData["catlist"] as IEnumerable<SelectListItem>;
}

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet box purple ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Kategori Güncelleme Formu
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form" method="post" action="/Admin/KategoriGuncelle">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Ana Kategori Seçiniz</label>
                    <div class="col-md-9">

                        @Html.DropDownList("ParentID", cl, "Seçiniz", new { @class = "form-control input-lg" })

                        @*<select class="form-control input-lg">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                </select>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Kategori Adı</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="CategoryName" required maxlength="44" value="@Model.CategoryName">
                        <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
                    </div>
                </div>
            </div>
            <div class="form-actions right1">
                <button type="submit" class="btn green">Kaydet</button>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
