
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!-- breadcrumb area start  -->
<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li><i class="fa fa-home"></i></li>
                                <li class="active">Hakkımızda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area End  -->
<!-- Page-content area start  -->
<div class="Page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-Left wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="banner-block banner-block-2">
                        <div class="sppb-addon-content">
                            <img src="~/Content/img/hakkimizda.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-right wow fadeInRight" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="about-us-info">
                        <h2 class="ainfo-addon-title">HAKKIMIZDA</h2>
                        <div class="sppb-addon-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet, condimentum id nunc. Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet, condimentum id nunc. Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum.</p>
                            @*<p><a href="@Url.Action("Daha_Fazla","Home")" class="readmore">Read More</a></p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="skrill-area">
    <div class="container">
        <div class="row">
            <div class="clear"></div>
            <div class="all-sk">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="a-skrill">
                        <div class="ask-title">
                            <h3>İçerik</h3>
                        </div>                            
                        <div class="sppb-progress vina-progress-bar">
                            <span class="sppb_label">C# .Net, .Net Core</span>
                            <div class="sppb_meter">
                                <div style="width:100%" data-width="100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                    <span>100%</span>
                                </div>
                            </div>
                        </div>
                        <div class="ask-progress-bar wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".3s">
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">Ajax/JavaScript</span>
                                <div class="sppb_meter">
                                    <div style="width:95%" data-width="95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">MSSQL</span>
                                <div class="sppb_meter">
                                    <div style="width:92%" data-width="92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>92%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">Web API/SERVICES</span>
                                <div class="sppb_meter">
                                    <div style="width:85%" data-width="85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>85%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">HTML5/CSS3</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">Bootstarp,XML,JSON</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="sk-tab-area">
                        <div class="ask-title">
                            <h3>Deneyimler</h3>
                        </div>
                        <div class="sk-tab wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".6s">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="about-us.html#vision" aria-controls="vision" role="tab" data-toggle="tab"> iakademi41 Yazılım Ekibi</a></li>
                                <li role="presentation"><a href="about-us.html#mission" aria-controls="mission" role="tab" data-toggle="tab"> Yapılanlar</a></li>
                                <li role="presentation"><a href="about-us.html#results" aria-controls="results" role="tab" data-toggle="tab"> Sonuç</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="vision">
                                    <p>Erensu DEVECİ</p>
                                    <br />
                                    <p>Sedat TEFÇİ</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mission">
                                    <p>e-ticaret projesi</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="results">
                                    <p>Sertifika</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">iakademi41 Ekibi</h2>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-12">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".3s">
                        <div class="team-thumb">
                            <img src="~/Content/img/erensudeveci.jpg" />
                        </div>
                        <h3>Erensu DEVECİ <br> <span>Junior Full-stack .Net Developer</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-content area End  -->
